@font-face {
    font-family: 'iconfont';
    /* project id 2164923 */
    src: url('//at.alicdn.com/t/font_2164923_64onfswpjkg.eot');
    src: url('//at.alicdn.com/t/font_2164923_64onfswpjkg.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_2164923_64onfswpjkg.woff2') format('woff2'), url('//at.alicdn.com/t/font_2164923_64onfswpjkg.woff') format('woff'), url('//at.alicdn.com/t/font_2164923_64onfswpjkg.ttf') format('truetype'), url('//at.alicdn.com/t/font_2164923_64onfswpjkg.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
}

.ml-qq::before {
    content: "\e78c";
}

.ml-github::before {
    content: "\e64a";
}

.ml-email::before {
    content: "\e60d";
}

.ml-wechat::before {
    content: "\e70e";
}

.ml-gotop::before {
    content: "\e6b7";
}

.ml-csdn::before {
    content: "\e600";
}

.ml-home::before {
    content: "\e674";
}

.ml-novel::before {
    content: "\e671";
}

.ml-project::before {
    content: "\e670";
}

.ml-about::before {
    content: "\e682";
}